/* Player Card */
.player-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: calc(20% - 32px);
    vertical-align: top;
    text-align: center;
    background-color: lightblue;
  }
  
  .player-card img {
    max-width: 100%;
    height: 250px;
    border-radius: 25%;
    margin-bottom: 8px;
  }
  
  .player-card h4 {
    margin: 0;
    font-size: 1.2rem;
  }

  
  
  /* All Players Page */
  .all-players {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .see-details-link {
    display: inline-block;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 8px;
  }
  
  .see-details-link:hover {
    background-color: #0056b3;
  }

  /* Single Player Card */
  .single-player-card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px auto;
    max-width: 500px; /* Set your desired max-width */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: lightblue;
  }
  
  .single-player-card img {
    max-width: 100%;
    height: auto;
    border-radius: 25%;
    margin-bottom: 16px;
  }
  
  .single-player-card h2 {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .single-player-card button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }

  /* NavBar */
.navbar {
    background-color: #333;
    color: white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    position: top;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin-right: 16px;
    font-size: 0.5rem;
  }

  .navbar a:last-child {
    margin-right: 0;
  }

  /* New Player Form */
.new-player-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center; /* Center the content */
  }
  
  .new-player-form h2 {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }
  
  .new-player-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in width */
  }
  
  .new-player-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .new-player-form button:hover {
    background-color: #0056b3;
  }